body {
  padding-top: 70px;
}

#analytics {
  color: #222;
  background-color: #9d9d9d;
  border-color: #9d9d9d;
}

#analytics:hover {
  color: #fff;
}

.thumbnail {
  #box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  border: none;
  margin-bottom: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.thumbnail img {
  width: 25vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: grayscale(90%); /* Chrome, Safari, Opera */
  filter: grayscale(90%);
}

.thumbnail:hover {
  transform: scale(1.2, 1.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 1;
  cursor: pointer;
}

.thumbnail:hover img {
  #opacity: 0.5;
  -webkit-filter: none;
  filter: none;
}

.name h4 {
  position: absolute;
  display: block;
  margin-left: 12%;
  margin-right: 13%;
  max-height: 25%;
  padding: 2%;
  bottom: 5%;
  width: 75%;
  text-align: center;
  color: #333;
  font-weight: bold;
  font-variant: small-caps;
  cursor: pointer;
  visibility: visible;
  opacity: 0.85;
  background-color: #6aa0d6;
  border-radius: 5px;
}

.thumbnail:hover .name h4 {
  opacity: 1;
  background-color: #274a64;
  color: #fff;
  padding: 4%;
  margin-right: 6%;
  margin-left: 3%;
  width: 91%;
  bottom: 0;
}

.thumbnail {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
}
